@model IMODA.Models.sizemeasure

@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sizemeasure Information</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="row">
        <div class="col-12">
            <!-- /.card -->
            <div class="card">
                @*<div class="card-header">
                        <h3 class="card-title">DataTable with default features</h3>
                    </div>*@
                <!-- /.card-header -->
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @*<h4>Name</h4>*@
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id)

                        
                        @Html.HiddenFor(model => model.th_field1)
                        @Html.HiddenFor(model => model.th_field2)
                        @Html.HiddenFor(model => model.th_field3)
                        @Html.HiddenFor(model => model.th_field4)
                        @Html.HiddenFor(model => model.th_field5)
                        @Html.HiddenFor(model => model.th_field6)
                        @Html.HiddenFor(model => model.th_field7)
                        @Html.HiddenFor(model => model.th_field8)

                        <div class="form-group">
                            @Html.LabelFor(model => model.en_field1, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.en_field1, new { id = "en_field1", rows = "10", cols = "80" })
                                @Html.ValidationMessageFor(model => model.en_field1, "", new { @class = "text-danger" })
                                <script>CKEDITOR.replace("en_field1");</script>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.en_field2, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.en_field2, new { id = "en_field2", rows = "10", cols = "80" })
                                @Html.ValidationMessageFor(model => model.en_field2, "", new { @class = "text-danger" })
                                <script>CKEDITOR.replace("en_field2");</script>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.en_field3, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.en_field3, new { id = "en_field3", rows = "10", cols = "80" })
                                @Html.ValidationMessageFor(model => model.en_field3, "", new { @class = "text-danger" })
                                <script>CKEDITOR.replace("en_field3");</script>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.en_field4, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.en_field4, new { id = "en_field4", rows = "10", cols = "80" })
                                @Html.ValidationMessageFor(model => model.en_field4, "", new { @class = "text-danger" })
                                <script>CKEDITOR.replace("en_field4");</script>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.en_field5, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.en_field5, new { id = "en_field5", rows = "10", cols = "80" })
                                @Html.ValidationMessageFor(model => model.en_field5, "", new { @class = "text-danger" })
                                <script>CKEDITOR.replace("en_field5");</script>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.en_field6, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.en_field6, new { id = "en_field6", rows = "10", cols = "80" })
                                @Html.ValidationMessageFor(model => model.en_field6, "", new { @class = "text-danger" })
                                <script>CKEDITOR.replace("en_field6");</script>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.en_field7, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.en_field7, new { id = "en_field7", rows = "10", cols = "80" })
                                @Html.ValidationMessageFor(model => model.en_field7, "", new { @class = "text-danger" })
                                <script>CKEDITOR.replace("en_field7");</script>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.en_field8, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.en_field8, new { id = "en_field8", rows = "10", cols = "80" })
                                @Html.ValidationMessageFor(model => model.en_field8, "", new { @class = "text-danger" })
                                <script>CKEDITOR.replace("en_field8");</script>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                    }


                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>